@use '../../../sass/variables' as v;

.sidePanel {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem 0.85rem 1rem 0.85rem;
  background-color: v.$bg-light;

  p {
    font-weight: 500;
  }

  .input {
    padding: 0.25rem;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }

  .settingsHeader {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    user-select: none;
  }
}

.difficultyButtons {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-top: 0.75rem;

  p {
    user-select: none;
  }

  button {
    transition: background-color 0.25s ease-in-out;
    padding: 0.25rem 0;
    font-size: 0.85rem;
    border-radius: 0.15rem;

    &:hover {
      color: v.$font-gold;
    }
  }

  .active {
    color: v.$font-green;

    transition: background-color, color 0.25s ease-in-out;
    &:hover {
      color: v.$font-green;
    }
  }
}

.categories {
  margin-top: 0.5rem;

  p {
    user-select: none;
  }

  select {
    margin-top: 0.5rem;
    padding: 0.25rem;
    font-size: 1rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.start {
  margin-top: 0.75rem;
  background-color: v.$font-green;
  font-weight: 600;
  border: 1px solid transparent;
  transition: opacity 0.25s ease-in-out, border 0.15s ease-in-out, color 0.15s ease-in-out;
  padding: 0.5rem;

  &:hover {
    opacity: 0.8;
    border: 1px solid v.$bg-medium;
  }

  &:active {
   color: v.$font-gold;
   border: 1px solid transparent;
  }
}
