@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-primary: 'Montserrat', sans-serif;
$font-color: #f6f7f9;
$font-gold: #daa520;
$font-green: #2e8b57;

$bg-light: #2d2b2b;
$bg-medium: #242424;
$bg-dark: #1a1a1a;
