@use '../../sass/variables' as v;

.header {
  padding: 1rem;
  background-color: v.$bg-dark;
  width: 100%;
  letter-spacing: 0.075rem;
  user-select: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}